<section class="bg-gray-50 dark:bg-gray-900" *transloco = "let t, read:'registrationPage'">

  <div class="flex flex-col items-center justify-center px-6 py-0 mx-auto md:h-screen lg:py-0">

    <div class="p-2 space-y-0 md:space-y-6 sm:p-8">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
      {{t('registration')}}
    </h1>
    </div>

    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">



        <form class="space-y-4 md:space-y-6" [formGroup] = "registerForm" (ngSubmit)="registerUser()">

          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{t('full')}}</label>
            <input
              type="text"
              name="name"
              id="name"
              formControlName="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Kovacs Andrea">
          </div>

          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{t('username')}}</label>
            <input type="text"
                   name="username"
                   id="username"
                   formControlName="username"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Andika">
          </div>

          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail</label>
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com">
          </div>

          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{t('password')}}</label>
            <input
              type="password"
              autocomplete="new-password"
              name="password"
              id="password"
              formControlName="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>

          <div>
            <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{t('confirm')}}</label>
            <input
              type="password"
              autocomplete="new-password"
              name="confirm-password"
              id="confirm-password"
              formControlName="confirmPassword"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>

          <small
            *ngIf="registerForm?.errors?.['mismatch']"
            class="text-red-500"
          >
            {{t('match')}}
          </small>

          <button
            type="submit"
            class="bg-black text-gray-50  w-full bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          [disabled]="!registerForm.valid"
          >
            {{t('register')}}</button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            {{t('already')}} <a routerLink="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">{{t('login')}}</a>
          </p>
        </form>


      </div>
    </div>
  </div>
</section>
