<div class="heading text-center mt-20 font-bold text-2xl m-5 dark:text-gray-50 text-gray-800"  *transloco="let t, read:'groupForm'">{{t('newGroup')}}</div>
<style>
  body {
    background: white !important;
  }
</style>

<form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
  <div *transloco="let t, read:'groupForm'"
       class=" editor mx-auto w-10/12 flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg max-w-2xl dark:border dark:bg-gray-800 dark:border-gray-700">
    <input
      type="text"
      id="name"
      formControlName="name"
      placeholder="{{t('groupName')}}"
      class="title bg-gray-100 border border-gray-300 p-2 mb-4 outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      [ngClass]="{
                'is-invalid': groupForm.get('name')?.invalid && groupForm.get('name')?.touched || groupForm.get('name')?.errors?.['serverError']
                }">
    <small
      *ngIf="groupForm.get('name')?.invalid
                        && groupForm.get('name')?.touched
                        && !groupForm.get('name')?.errors?.['serverError']"
      class="text-red-700"
    >
      {{t('enterGroupName')}}
    </small>
    <small *ngIf="groupForm.get('name')?.errors?.['serverError']" class="text-red-700">
      {{groupForm.get('name')?.errors?.['serverError']}}
    </small>

    <input
      type="text"
      id="imgUrl"
      formControlName="imgUrl"
      placeholder="{{t('groupImg')}}"
      class="description bg-gray-100 sec p-3 h-30 border border-gray-300 outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      [ngClass]="{
                'is-invalid': groupForm.get('imgUrl')?.invalid && groupForm.get('imgUrl')?.touched || groupForm.get('imgUrl')?.errors?.['serverError']
                }"
    >

    <!-- icons -->
    <div class="icons flex text-gray-500 m-2">
      <svg
        class="mt-3 dark:border-gray-600 dark:bg-gray-700 mr-2 cursor-pointer hover:text-gray-900 dark:hover:text-gray-900 dark:text-gray-50 border rounded-full p-1 h-7"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"/>
      </svg>

    </div>
    <!-- buttons -->
    <div class="buttons flex">
      <div class="text-gray-500 ml-auto"></div>
      <button type="submit"
              class="btn border border-gray-300 dark:border-gray-700 p-1 px-4 font-semibold cursor-pointer text-white ml-2 bg-black">
        {{t('create')}}
      </button>
    </div>
  </div>
</form>
