<div class="relative overflow-x-auto">
<table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400" *transloco="let t read:'findGroupPage'">
  <thead class="relative text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
  <tr>
    <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 dark:text-white uppercase tracking-wider">
      {{t('group')}}
    </th>
    <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 dark:text-white uppercase tracking-wider">
      {{t('owner')}}
    </th>
    <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 dark:text-white uppercase tracking-wider">
      {{t('events')}}
    </th>
    <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 dark:text-white uppercase tracking-wider">
      {{t('posts')}}
    </th>
    <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 dark:text-white uppercase tracking-wider">
      {{t('action')}}
    </th>
  </tr>
  </thead>
  <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
  <tr *ngFor="let group of groups" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <td class="px-6 py-4 font-medium text-gray-900 text-center whitespace-nowrap dark:text-white">
      {{group.name}}
    </td>
    <td class="px-6 py-4 text-center">
      {{group.owner}}
    </td>
    <td class="px-6 py-4 text-center">
      {{group.events}}
    </td>
    <td class="px-6 py-4 text-center">
      {{group.posts}}
    </td>
    <td class="px-6 py-4 text-center">
      <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{t('join')}}</button>
    </td>
  </tr>
  </tbody>
</table>
</div>
